@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\000031}}
body {
  background-image: url("img/bg.jpg"); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\000035}}
h1 {
  font-family: 'Norican', cursive;
  /*Woot woot, fancy!*/
  font-size: 67px;
  color: #6b6a6a;
  text-shadow: -1px -1px -1px #464646; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000314}}
.forkmeongithub {
  position: fixed;
  top: 0;
  right: 0;
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000321}}
.credits {
  font-size: 12px;
  color: gray;
  position: fixed;
  left: 100px;
  bottom: 80px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000331}}
aside {
  width: 300px;
  position: fixed;
  top: 50px;
  left: 100px;
  bottom: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000340}}
  aside #score {
    margin-top: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000343}}
    aside #score h4 {
      font-weight: normal;
      margin-bottom: 0px;
      margin-top: 0px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000350}}
  aside #description {
    margin-top: 50px;
    width: 200px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000354}}
    aside #description p {
      line-height: 27px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000360}}
  aside #profile {
    min-height: 50px;
    margin-top: 40px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/MAMP\/htdocs\/Faceless\/style\.scss}line{font-family:\0000365}}
    aside #profile p {
      width: 185px;
      margin-left: 15px;
      margin-bottom: 0px; }
